In [12]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import time
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
# 加载数据
#ad_static_feature_df = pd.read_csv('ad_static_feature.csv')
#ad_operation_df = pd.read_csv('ad_operation.csv')
exposure_log_df = pd.read_csv('totalExpLog.csv')
exposure_log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5874655 entries, 0 to 5874654
Data columns (total 13 columns):
Ad_Request_id       int64
Ad_Request_Time     object
Ad_pos_id           int64
user_id             int64
ad_id               int64
Ad_material_size    int64
Ad_bid              int64
Ad_pctr             float64
Ad_quality_ecpm     float64
Ad_total_Ecpm       float64
year                int64
month               int64
day                 int64
dtypes: float64(3), int64(9), object(1)
memory usage: 582.7+ MB

In [14]:
Group_Exposure_Data = exposure_log_df.groupby(['year', 'month', 'day', 'ad_id', 'Ad_bid']).size().reset_index()
Group_Exposure_Data = Group_Exposure_Data.rename(columns={0: 'num_click'})
Group_Exposure_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221395 entries, 0 to 221394
Data columns (total 6 columns):
year         221395 non-null int64
month        221395 non-null int64
day          221395 non-null int64
ad_id        221395 non-null int64
Ad_bid       221395 non-null int64
num_click    221395 non-null int64
dtypes: int64(6)
memory usage: 10.1 MB

In [15]:
Group_Exposure_Data.head()

   year  month  day  ad_id  Ad_bid  num_click
0  2019      2   16   6114     184          7
1  2019      2   16   6173      70          1
2  2019      2   16  10519      80          1
3  2019      2   16  14702      11          1
4  2019      2   16  27210      93          1

In [16]:
# 将曝光数据按照年月日 广告id和广告竞价删除重复的元素之后进行合并
Total_Exposure_Log_Data_one = exposure_log_df.drop_duplicates(subset=['year', 'month', 'day', 'ad_id', 'Ad_bid'] ,keep="first").reset_index(drop=True)
Clicks_of_Exposure_Data = pd.merge(Total_Exposure_Log_Data_one, Group_Exposure_Data,on=['year', 'month', 'day', 'ad_id', 'Ad_bid'])
Clicks_of_Exposure_Data = Clicks_of_Exposure_Data.reset_index(drop = True)
Clicks_of_Exposure_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221395 entries, 0 to 221394
Data columns (total 14 columns):
Ad_Request_id       221395 non-null int64
Ad_Request_Time     221395 non-null object
Ad_pos_id           221395 non-null int64
user_id             221395 non-null int64
ad_id               221395 non-null int64
Ad_material_size    221395 non-null int64
Ad_bid              221395 non-null int64
Ad_pctr             221395 non-null float64
Ad_quality_ecpm     221395 non-null float64
Ad_total_Ecpm       221395 non-null float64
year                221395 non-null int64
month               221395 non-null int64
day                 221395 non-null int64
num_click           221395 non-null int64
dtypes: float64(3), int64(10), object(1)
memory usage: 23.6+ MB

In [17]:
Clicks_of_Exposure_Data.head()

,Ad_Request_id,Ad_Request_Time,Ad_pos_id,user_id,ad_id,Ad_material_size,Ad_bid,Ad_pctr,Ad_quality_ecpm,Ad_total_Ecpm,year,month,day,num_click
0,66156247,2019-02-17 23:16:40,18,808543,92253,40,96,3.824,76.48,443.584,2019,2,17,9
1,39174722,2019-02-17 20:29:23,168,374668,109749,14,75,0.893,17.86,84.835,2019,2,17,132
2,6912443,2019-02-17 22:04:32,198,423992,109749,14,70,3.596,71.92,323.640,2019,2,17,42
3,42177665,2019-02-17 04:54:22,297,1325591,717943,20,100,4.015,80.30,481.800,2019,2,17,361
4,19971715,2019-02-17 08:57:57,247,63803,563411,40,40,8.048,160.96,482.880,2019,2,17,5

In [18]:
# 删除测试集中没有的相关属性 并将结果进行保存
Clicks_of_Exposure_Data.drop('Ad_Request_id', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('Ad_Request_Time', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('user_id', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('Ad_material_size', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('Ad_pctr', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('Ad_quality_ecpm', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('Ad_total_Ecpm', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('year', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('month', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('day', axis=1, inplace=True)
Clicks_of_Exposure_Data.drop('Ad_pos_id', axis=1, inplace=True)
#Clicks_of_Exposure_Data.drop('Ad_bid', axis=1, inplace=True)
Clicks_of_Exposure_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221395 entries, 0 to 221394
Data columns (total 3 columns):
ad_id        221395 non-null int64
Ad_bid       221395 non-null int64
num_click    221395 non-null int64
dtypes: int64(3)
memory usage: 5.1 MB

In [19]:
Clicks_of_Exposure_Data.head(100)

     ad_id  Ad_bid  num_click
0    92253      96          9
1   109749      75        132
2   109749      70         42
3   717943     100        361
4   563411      40          5
5   563411      51        155
6   433189      18       1305
7   433189      20       3043
8   433189      18          6
9   471029      75         84
10  509136      10       5871
11  509136      20          1
12  509136     133          1
13  461351     120         59
14  714967      95         46
15  313822      10       2870
16  705267      10       5225
17  705267      73          1
18   27032      10       1248
19   27032       8          1
20   27032       6          1
21  508775      30         43
22  671436     103         16
23  119301      55        255
24  119301      55          3
25  119301      44         15
26  201737      23        385
27  735763      21        346
28  735763      16         18
29  486130      29        777
..     ...     ...        ...
70   41012      23         11
71   41012      18          8
72  590014      23       1051
73  590014      20        236
74  156311      23        568
75  164817      10       4171
76  164817      29          1
77  610493     130         38
78  698662      23       1012
79  698662      18         42
80   83712      21       1064
81   83712      16         24
82  451487     130         66
83  201648      58          6
84  322838      93          7
85  623413      31         28
86  578592     100         25
87  690380      93          1
88    8392      23        306
89  237955      57         19
90  188184      80         27
91  677441      70         80
92  677441      56          2
93  144629      10       1659
94  198839     100        147
95  263286      29        665
96  263286     418          1
97  411983      80         51
98   11003      23       1205
99   11003      20        108

[100 rows x 3 columns]

In [20]:

Clicks_of_Exposure_Data.to_csv('Clicks_of_Exposure_Data.csv', index=False)
 
# 将曝光日志按照ID和静态广告数据进行拼接操作
Ad_Static_Data = pd.read_csv('ad_static_feature.csv')
Ad_Static_Data.drop('Commodity_id', axis=1, inplace=True)
Ad_Static_Data.drop('Ad_account_id', axis=1, inplace=True)
Ad_Static_Data.drop('Creation_time', axis=1, inplace=True)

Merce_Ad_Static_and_Exposure_Data = pd.merge(Clicks_of_Exposure_Data, Ad_Static_Data, on=['ad_id'])
 
# 读取广告操作数据集并拼接数据集
Op_Ad_Data = pd.read_csv('ad_operation.csv').drop_duplicates(['ad_id'])
Op_Ad_Data.drop('Create_modify_time', axis=1, inplace=True)
 
Dataset_For_Train = pd.merge(Op_Ad_Data, Merce_Ad_Static_and_Exposure_Data, on=['ad_id'])
Dataset_For_Train = Dataset_For_Train.drop_duplicates().reset_index(drop=True)
Dataset_For_Train.to_csv('Dataset_For_Train.csv', index=False)
Dataset_For_Train.info()

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190522 entries, 0 to 190521
Data columns (total 9 columns):
ad_id               190522 non-null int64
Op_type             190522 non-null int64
Modify_type         190522 non-null int64
Op_after            190522 non-null object
Ad_bid              190522 non-null int64
num_click           190522 non-null int64
Commodity_type      190522 non-null int64
Ad_Industry_Id      190522 non-null int64
Ad_material_size    190522 non-null object
dtypes: int64(7), object(2)
memory usage: 13.1+ MB